<h1>Employee</h1>

<form action="/newuser" method="post" id="form-container">
<div>
<label for="username">Username</label>
<input type="text" name="username" id="username">
</div>
<div>
<label for="role">Role</label>
<input type="role" name="role" id="role">
</div>
<div>
<label for="password">Password</label>
<input type="password" name="password" id="password">
</div>
    <button>Save</button>
</form>